<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/styles/style.css">
    <title>Gebruiker Aanmaken</title>
</head>
<body>
    {% if error %}
    <h1 style="color:red;">Gebruikersnaam {{ error }} is al in gebruik.</h1>
    {% elif gebruiker %}
    <h1>Gebruiker {{ gebruiker }} is successvol aangemaakt.</h1>
    {% else %}
    <h1>Maak een nieuwe gebruiker aan:</h1>
    <form method="post">
        <label for="gebr">Gebruikersnaam:</label>
        <input type="text" id="gebr" name="gebr"><br><br>
        <label for="wach">Wachtwoord:</label>
        <input type="password" id="wach" name="wach"><br><br>
        <label for="naam">Naam:</label>
        <input type="text" id="naam" name="naam"><br><br>
        <label for="adre">Adres:</label>
        <input type="text" id="adre" name="adre"><br><br>
        <label for="post">Postcode:</label>
        <input type="text" id="post" name="post"><br><br>
        <label for="gebo">Geboortedatum:</label>
        <input type="date" id="gebo" name="gebo"><br><br>
        <input type="submit" value="Submit">
    </form>
    {% endif %}
    <p>
        <a href="{{ url_for('read') }}">Terug naar het overzicht</a>
    </p>
</body>
</html>
